/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

progress {
    -webkit-appearance: none;
    left: 10%;
    width: 70%;
    height: 20px;
    background-color: #f3f3f3; 
}

ul > li > div {
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 1em;
}

.book_name {
  padding-right: 10px;
}

div.book_content {
  float: left;
  width: 50%;
}

div.read_pages_control {
  float: right;
  width: 30%;
}
