div(ng-controller='ArticleCtrl')
  ul.unstyled
    li(ng-repeat='word in article_words')
      div.row
        div.span4.word-info
          span.left
            | {{word.word}}
          span.right
            | {{word.tf_idf}}
        div.span4
          progress(max='{{maxTFIDF}}', value='{{word.tf_idf}}')
